@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
footer, main .cta h2, main .cta .main-para, main .cta .price {
  margin: 0 6.4vw;
}

* {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

body {
  color: #191826;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.02813rem;
  line-height: 3rem;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 4rem;
    letter-spacing: -0.04562rem;
    line-height: 4rem;
  }
}

h2 {
  color: #fcf9f8;
  font-size: 2rem;
  line-height: 2.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
}

@media screen and (min-width: 500px) {
  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.main-para {
  color: #fcf9f8;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button {
  border-radius: 12px;
  display: block;
  font-weight: 700;
  height: 3.8125rem;
  letter-spacing: -0.18px;
  line-height: 2rem;
  width: 18.5rem;
  text-align: center;
}

.button span {
  margin-top: 0.5625rem;
}

.button img {
  position: relative;
  margin-right: 0.52625rem;
  top: 0.625rem;
}

.ios {
  background-color: #191826;
  color: #fcf9f8;
}

.android {
  background-color: #fcf9f8;
  color: #191826;
}

body {
  background-color: #fcf9f8;
}

body::before {
  content: "";
  background-image: url("../assets/bg-pattern-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 23rem;
  width: 14.4375rem;
  z-index: -5;
}

@media screen and (min-width: 500px) {
  body::before {
    display: block;
  }
}

body::after {
  content: "";
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 186.66667vw;
  position: absolute;
  right: 0;
  top: -53.33333vw;
  width: 80vw;
  z-index: -10;
}

@media screen and (min-width: 500px) {
  body::after {
    background-image: url("../assets/bg-main-tablet.png");
    height: 105.20833vw;
    right: 6.51042vw;
    top: -26.04167vw;
    width: 113.02083vw;
  }
}

header {
  margin: 0 6.4vw;
  margin-top: 12.8vw;
}

@media screen and (min-width: 500px) {
  header {
    margin: 6.38021vw 27.99479vw 0 5.07812vw;
  }
}

header h1 {
  margin-top: 4.41312rem;
}

@media screen and (min-width: 500px) {
  header h1 {
    margin-top: 6.3525rem;
  }
}

header p {
  margin-top: 1rem;
}

@media screen and (min-width: 500px) {
  header p {
    margin-top: 0.5rem;
  }
}

footer {
  margin-top: 4.5rem;
  padding-bottom: 5rem;
}

footer .logo {
  margin-bottom: 2.4375rem;
}

footer .email {
  font-weight: 700;
}

footer ul {
  margin-top: 4.375rem;
}

footer ul li {
  display: inline;
  margin-right: 1.25rem;
}

main {
  margin-top: 4.625rem;
}

main .app-graphic {
  background-image: url("../assets/illustration-app.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  height: 114.66667vw;
  width: 55.73333vw;
}

main .app-background {
  background-color: #191826;
  background-image: url("../assets/bg-pattern-2.svg");
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 12px;
  height: 37.5rem;
  margin-top: -18.75rem;
  position: relative;
  width: 100vw;
  z-index: -5;
}

main .cta {
  background-color: #fa7352;
  border-radius: 12px;
  margin-top: -12.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main .cta .main-para {
  margin-top: 0.625rem;
}

main .cta .price {
  display: flex;
  color: #fcf9f8;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

main .cta .price .big {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-right: 1.0625rem;
}

main .cta .btn-cont {
  width: 100vw;
}

main .cta .btn-cont .button {
  margin: auto;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */