.button {

    border-radius: 12px;
    display: block;
    font-weight: 700;
    height: rem(61);
    letter-spacing: -0.18px;
    line-height: rem(32);
    width: rem(296);
    text-align: center;

    span {
        margin-top: rem(9);
    }

    img {
        position: relative;
        margin-right: rem(8.42);
        top: rem(10);
    }
  
}

.ios {
    background-color: $drk-btn-color;
    color: $secondary-txt-color;
}

.android {
    background-color: $lt-btn-color;
    color: $primary-txt-color;
}