// Typography
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


body {
    color: $primary-txt-color;
    font-family: 'IBM Plex Sans', sans-serif;  
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: rem(40);
    
    letter-spacing: rem(-0.45);
    line-height: rem(48);

    @include media-md {
        font-size: rem(64);
        letter-spacing: rem(-0.73);
        line-height: rem(64);
    }

    @include media-lg {
        font-size: rem(88);
        letter-spacing: rem(-1);
        line-height: rem(88);
    }
}

h2 {
    color: $secondary-txt-color;
    font-size: rem(32);
    line-height: rem(40);

    @include media-lg {
        font-size: rem(40);
        line-height: rem(52);
    }
}

p {
    font-size: rem(16);
    line-height: rem(26);

    @include media-md {
        font-size: rem(18);
        line-height: rem(28);
    }

    @include media-lg {
        font-size: rem(20);
        line-height: rem(34);
    }
}

.main-para {
    color: $secondary-txt-color;
    font-size: rem(18);
    line-height: rem(28);

    @include media-lg {
        font-size: rem(20);
        line-height: rem(34);
    }
}

