body {
    background-image: url('../assets/bg-main-mobile.png');
    background-color: $body-bg-color;
    background-position: sml-vw(40) sml-vw(-220);
    background-repeat: no-repeat; 

    @include media-md {
        background-image: url('../assets/bg-main-tablet.png');
        background-position-x: md-vw(-400);
        background-position-y: md-vw(-400);
    }

    &::before {
        content: "";
        background-image: url('../../assets/bg-pattern-1.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: rem(368);
        width: rem(231);
        z-index: -5;

        @include media-md {
            display: block;
        }
    }

    
}

