body {

    background-color: $body-bg-color;

    &::before {
        content: "";
        background-image: url('../assets/bg-pattern-1.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: rem(368);
        width: rem(231);
        z-index: -5;

        @include media-md {
            display: block;
        }
    }

    &::after {
        content: "";
        background-image: url('../assets/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: sml-vw(700);
        position: absolute;
        right: 0;
        top: sml-vw(-200);
        width: sml-vw(300);
        z-index: -10;

        @include media-md {
            background-image: url('../assets/bg-main-tablet.png');
            height: md-vw(808);
            right: md-vw(50);
            top: md-vw(-200);
            width: md-vw(868);
        }
    }
   
}

