footer {
    @extend %small-margin;
    margin-top: rem(72);
    padding-bottom: rem(80);

    @include media-md {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: rem(95);
        padding-bottom: rem(91);

        
    }

    @include media-lg {
        margin: 0 lg-vw(165);
        margin-top: rem(87);
    }

    .wrapper {
        

        @include media-md {
            max-width: md-vw(366);
        }

        @include media-lg {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            max-width: lg-vw(650);
        }
    }

    .logo {
        margin-bottom: rem(39);

        @include media-lg {
            margin: 0;
            margin-right: lg-vw(139);
        }
    }

    .email {
        font-weight: 700;
    }

    ul {
        margin-top: rem(70);

        @include media-md {
            margin-top: 0;
        }

        li {
            display: inline;
            margin-right: rem(20);
        }
    }
}