footer {
    @extend %small-margin;
    margin-top: rem(72);
    padding-bottom: rem(80);

    @include media-md {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: rem(95);
        padding-bottom: rem(91);

        .wrapper {
            max-width: md-vw(366);
        }
    }

    .logo {
        margin-bottom: rem(39);
    }

    .email {
        font-weight: 700;
    }

    ul {
        margin-top: rem(70);

        @include media-md {
            margin-top: 0;
        }

        li {
            display: inline;
            margin-right: rem(20);
        }
    }
}