// Variables

// Color palette
$white: hsla(20, 33%, 98%, 1);
$salmon: hsla(12, 94%, 65%, 1);
$black: hsla(244, 23%, 12%, 1);
$dark-cyan: hsla(177, 68%, 64%, 1);
$orange: hsla(33, 100%, 70%, 1);
$cyan: hsla(177, 100%, 63%, 1);
$dark-orange: hsla(34, 100%, 50%, 1);

// text colors
$primary-txt-color: $black;
$secondary-txt-color: $white;

// background colors
$body-bg-color: $white;
$app-bg-color: $black;
$cta-bg-color: $salmon;

// button-colors
$lt-btn-color: $white;
$drk-btn-color: $black;
$drk-btn-hover: $cyan;
$lt-btn-hover: $orange;
